In [ ]:
"""
날짜 : 2023/01/13
이름 : 조주영
내용 : 파이썬 데이터 베이스
"""

import pymysql

In [ ]:
# select 실습
from sub.User3VO import User3VO
# 데이터베이스 접속
conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='1234',
                        db='java2db', 
                        charset='utf8')

# SQL 실행객체
cur = conn.curosr()

# SQL 실행
sql = "SELECT*FROM `user3`"
cur.execute(sql)
conn.commit()

# 결과 데이터 생성
users = []
for row in cur.fetchall():
    user = User3VO(row[0], row[1], row[2], row[3])
    users.append(user)
    
# 데이터베이스 종료
conn.close()
print('select 완료...')

# 결과출력
for user in users:
    print('---------------')
    print('아이디 :', user.uid)
    print('이름 :', user.uid)
    print('휴대폰 :', user.uid)
    print('나이 :', user.uid)